<!DOCTYPE html>

<html>

<head>

<title>SOC Assistant</title>


<style>

body{

background:#111;
color:white;
font-family:Arial;
padding:30px;

}


.card{

background:#222;
padding:20px;
border-radius:10px;

}


input{

width:70%;
padding:12px;

}


button{

padding:12px;
background:#00ff99;
border:0;
border-radius:8px;

}


</style>


</head>


<body>


<h1>🤖 AI SOC Assistant</h1>


<div class="card">


<form method="POST">


<input 
name="question"
placeholder="Ask SOC Analyst..."
>


<button>
Ask
</button>


</form>



{% if answer %}

<h3>Response:</h3>

<pre>
{{answer}}
</pre>

{% endif %}



</div>


</body>

</html>