<!DOCTYPE html>
<html>

<head>
<title>SOC Analyst Login</title>

<style>

body {
    background:#0f172a;
    color:white;
    font-family:Arial;
    text-align:center;
    padding-top:100px;
}

.box {
    background:#1e293b;
    padding:30px;
    width:300px;
    margin:auto;
    border-radius:10px;
}

input {
    width:90%;
    padding:10px;
    margin:10px;
}

button {
    padding:10px 25px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:5px;
}

</style>

</head>


<body>

<div class="box">

<h2>🛡️ SOC Analyst Login</h2>

<form method="POST">

<input name="username" placeholder="Username">

<input name="password" type="password" placeholder="Password">

<button type="submit">
Login
</button>

</form>

</div>

</body>

</html>