<!DOCTYPE html>

<html>

<head>

<title>Real-Time SOC Monitor</title>


<style>

body{

background:#0f172a;

color:white;

font-family:Arial;

padding:30px;

}


.card{

background:#1e293b;

padding:20px;

margin:20px;

border-radius:10px;

}


.green{

color:#22c55e;

}


.red{

color:#ef4444;

}


.yellow{

color:#f59e0b;

}


button{

background:#2563eb;

color:white;

padding:10px;

border:none;

border-radius:5px;

cursor:pointer;

}


</style>


</head>



<body>


<h1>
⚡ REAL-TIME SOC MONITOR
</h1>




<div class="card">


<h2 class="green">

🟢 {{monitor.status}}

</h2>


<p>

🕒 Last Check:

{{monitor.time}}

</p>


<p>

🔄 Auto Refresh: Every 10 seconds

</p>


</div>





{% if monitor.latest != None %}


<div class="card">


<h2>

🚨 Latest Security Alert

</h2>



<p>

<b>Incident ID:</b>

{{monitor.latest[0]}}

</p>



<p>

<b>Time:</b>

{{monitor.latest[1]}}

</p>



<p>

<b>Threat:</b>

{{monitor.latest[2]}}

</p>



<p>

<b>Severity:</b>

<span class="red">

{{monitor.latest[3]}}

</span>

</p>



<p>

<b>Risk Score:</b>

{{monitor.latest[4]}}

</p>



<p>

<b>MITRE ATT&CK:</b>

{{monitor.latest[5]}}

</p>



<p>

<b>Status:</b>


<span class="red">

🔴 {{monitor.latest[6]}}

</span>


</p>




<a href="/investigate/{{monitor.latest[0]}}">

<button>

🤖 AI Investigation Report

</button>

</a>



</div>



{% else %}



<div class="card">


<h2>

✅ No Active Security Alerts

</h2>


<p>

SOC is monitoring network activity.

</p>


</div>



{% endif %}






<br>


<a href="/">


<button>

⬅ Back Dashboard

</button>


</a>





<script>

setTimeout(
function(){

location.reload();

},
10000
);


</script>



</body>

</html>