<!DOCTYPE html>
<html>

<head>

    <title>Sentinel DNA</title>

    <style>

        body{

            font-family:Arial;

            background:#0f172a;

            color:white;

            margin:40px;

        }

        .card{

            background:#1e293b;

            padding:20px;

            margin:15px;

            border-radius:10px;

        }

        h1{

            color:#38bdf8;

        }

    </style>

</head>

<body>

<h1>🧬 Sentinel DNA</h1>

{% block content %}

{% endblock %}

</body>

</html>